<ion-header no-border>
  <ion-toolbar color= "primary">
    <ion-title>
      Favorito
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn" (click)="comentarFavorite(favorite)">
        Comentar
      </ion-button>
      <ion-button class="btn" ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card class="post" >
    <ion-item >
      <ion-label>
        <h1>{{favorite.title}}</h1>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label text-wrap class="description">
        <p>
          {{favorite.description}}
        </p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-comentario [comment]="comment"> </app-comentario>

  <ion-infinite-scroll [disabled]= "!scrollActived" threshold="100px" (ionInfinite)="ObtenerComentarios($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>