.post{
  border-color: cornflowerblue;
  border-style: solid;
  background-color: #D7E3DD;
}

.description{
  border-top: solid;
  border-top-color: #A5A8AC;
  border-bottom: solid;
  border-bottom-color: #A5A8AC;

}

.btn{
  padding: .375rem .75rem;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  color: #0B5CC8;
  background-color:#ffffff;

}

.btn:hover{
  color: #fff;
  background-color: #4E97FE;
}
