.post{
  border-color: cornflowerblue;
  border-style: solid;
}

.description{
  border-top: solid;
  border-top-color: plum;
  border-bottom: solid;
  border-bottom-color: plum;

}

.btn:hover{
  color: #fff;
  background-color: #4E97FE;
}
