<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Comentarios
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="verPost(post)"
              color="primary">
  </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<div class="=favorite">
<ion-item>
  <ion-label>
    <h3>
      {{favorite.usuario.nombre}} 
    </h3>
    <h1>{{favorite.title}}</h1>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-label text-wrap>
    <p>
      {{favorite.description}}
    </p>
  </ion-label>
</ion-item>
</div>

<app-comentario [comment]="comment"> </app-comentario>

</ion-content>