

.post{
    border-top: solid;
    border-top-color: #CCCDCD;
    
}

.btn{
    padding: .375rem .75rem;
    border: 1px solid #ffffff;
    border-radius: .25rem;
    color: #0B5CC8;
    background-color:#ffffff;

}

.btn:hover{
  color: #fff;
  background-color: #4E97FE;
}



