.nombre{
    font-size: 20px;
    font-family: serif;
    color: white;
    background-color: steelblue;
}

.favorite{
    border-color: cornflowerblue;
    border-style: solid;
    background-color: #D7E3DD;
}


.title{
    /*border-top-color: #A5A8AC;*/
    background-color:steelblue;
    color: white;
    
}

h5{
    margin-left: 10px;
    font-family: monospace;
}

.icon{
    margin-top: 5px;
    margin-left: 4px;
    border-style: solid;
    border-radius: 100px;
    border-color: #609CF1;
    margin-bottom: 4px;

}

.description{
    border-top: solid;
    border-top-color: #A5A8AC;
    border-bottom: solid;
    border-bottom-color: #A5A8AC;

}