<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Nuevo Post
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="crearPoost()"
                  color="primary">
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input name="title" type="title"  [(ngModel)]="poost.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input name="description" type="description" [(ngModel)]="poost.description"></ion-input>
    </ion-item>


  </ion-list>


</ion-content>