.tamañolabelInicio{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    font-size:large;
}

.dimensionesLabel{
    font-size: 20px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.dimensionesImagenes{
    size:30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;    
}
