
 <!-- <ion-buttons slot="start">
  <ion-button (click)="toggleMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
    
  </ion-button>
  <ion-title>Inicio </ion-title>
</ion-buttons> -->

<app-header titulo="Menu principal"></app-header>

<ion-content  class="ion-content">

  

  
  
  <div class="dimensionesLabel" >
   
   <ion-label class="dimensionesLabel">¡Hola!, Bienvenido de nuevo</ion-label>
  </div> 
   
   
   <!-- Default textarea -->
 <ion-textarea class="tamañolabelInicio">Nuestro Asistente inteligente Alzaid formará parte de tu red de apoyo
   para resolver tus dudas sobre la enfermedad de Alzheimer, y si le cuentas un poco
   sobre tu ser amado con esta enfermedad, te ayudará con la adecuación de actividades,
   dietas, entre otras cosas.</ion-textarea>
 
 <div class="dimensionesImagenes">
   <ion-img src="assets/alzheimer1.png" class="centrar"></ion-img>
 </div>
 
  <div class="dimensionesLabel"> 
  <ion-label >¿Te interesa saber más?, entra al chat</ion-label>
  </div>
 
  <ion-button color="primary" expand="full" shape="round"  class="botonesMargenes">Ingresar al chat</ion-button>
 
 
 
 
 </ion-content>
 