<ion-app>


  <ion-split-pane when="md" contentId="principal">

      <ion-menu side="start" menuId="first" contentId="principal" color="primary">
          <ion-header>
              <ion-toolbar color="primary">
                  <ion-title>Menú</ion-title>
              </ion-toolbar>
          </ion-header>

          <ion-content>
              <ion-list>

                  <ion-menu-toggle autoHide="false" *ngFor="let o of options | async">
                      <ion-item [routerLink]="o.redirectTo">
                          <ion-icon slot="start" [name]="o.icon"></ion-icon>
                          <ion-label>{{o.name}}</ion-label>
                      </ion-item>
                  </ion-menu-toggle>

              </ion-list>
          </ion-content>
      </ion-menu>


      <ion-router-outlet id="principal"></ion-router-outlet>
  </ion-split-pane>






  
</ion-app>

