<ion-card color="primary">


  
  <ion-card-header>
    
    <ion-card-subtitle>
      <ion-input placeholder="Titulo" name="title" type="title" [(ngModel)]="poost.title">
        <ion-icon name="arrow-forward-outline" slot="end"(click)="crearPoost()"></ion-icon>
      </ion-input>
    </ion-card-subtitle>
    

  </ion-card-header>

  <ion-card-content>


    <ion-input placeholder="Algo que quieras compartir?" name="description" type="description"
      [(ngModel)]="poost.description"></ion-input>
  </ion-card-content>



</ion-card>