.nombre{
  font-size: 20px;
  font-family: serif;
  color: white;
  background-color: steelblue;
}

.post{
  border-color: cornflowerblue;
  border-style: solid;
  border-radius: 15px;
}

.btn{
  padding: .375rem .75rem;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  color: #0B5CC8;
  background-color:#ffffff;
}

.title{

  border-top: solid;
  border-top-color: #B3B3B4;
}

h5{
  margin-left: 10px;
  font-family: monospace;
}

.icon{
  margin-top: 5px;
  margin-left: 4px;
  border-style: solid;
  border-radius: 100px;
  border-color: #609CF1;
  margin-bottom: 4px;

}

.description{
  border-top: solid;
  border-top-color:#B3B3B4;
  border-bottom: solid;
  border-bottom-color: #B3B3B4;

}

  