<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/contactos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="speaker-detail">

  <div class="speaker-background">
    <img src="../../../assets/avatars/av-1.png" alt="Usuario">
    <h2>Usuario</h2>
  </div>

  <div class="contenido">


    <ion-list>
      <ion-item>
        <ion-label>{{usuario.nombre}}</ion-label>

      </ion-item>

      <ion-item>
        <ion-label type="email">{{usuario.email}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tiempo de cuidador</ion-label>
        <ion-label>{{usuario.tiempoCuidado}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{usuario.genero}}</ion-label>
      </ion-item>


    </ion-list>
  </div>

</ion-content>