.nombre{
    font-size: 20px;
    font-family: serif;
    color: white;
    background-color: steelblue;
}

.post{
    border-color: cornflowerblue;
    border-style: solid;
    background-color: #D7E3DD;
    border-radius: 5px;
}


.title{

    border-top: solid;
    border-top-color:  #D7E3DD;
}

h5{
    margin-left: 10px;
    font-family: monospace;
}

.icon{
    margin-top: 5px;
    margin-left: 4px;
    border-style: solid;
    border-radius: 100px;
    border-color: #609CF1;
    margin-bottom: 4px;


}

.description{
    border-top: solid;
    border-top-color: #B3B3B4;
    border-bottom: solid;
    border-bottom-color:#B3B3B4;

}

