.nombre{
    font-size: 20px;
    font-family: serif;
    color: white;
    background-color: steelblue;
}

.post{
    border-color: cornflowerblue;
    border-style: solid;
    background-color: pink;
}


.title{

    border-top: solid;
    border-top-color: plum;
}

h5{
    margin-left: 10px;
    font-family: monospace;
}

.icon{
    margin-top: 5px;
    margin-left: 4px;
    border-style: solid;
    border-radius: 100px;
    border-color: plum;
    margin-bottom: 4px;

}

.description{
    border-top: solid;
    border-top-color: plum;
    border-bottom: solid;
    border-bottom-color: plum;

}

